.about {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.about p {
  font-size: 20px;
  line-height: 1.5;
  width: 60%;
  text-align: center;
}

.about-exp {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about-exp h3 {
  font-size: 20px;
  text-align: center;
}

.exp {
  text-align: left;
  width: 35%;
  color: gold;
  text-shadow: 1.5px 1.5px 1.5px rgb(165, 42, 42);
  letter-spacing: 1px;
}

@media (max-width: 1200px) {
  .about {
    height: 90%;
  }
  .about p {
    width: 100%;
  }

  .about-exp {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .about-exp h3 {
    font-size: 15px;
  }

  .exp {
    width: 50%;
  }
}
