.contact {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact img {
  width: 75px;
  transition: 0.5s;
}

.contact img:hover {
  width: 90px;
}

@media (max-width: 1200px) {
  .contact {
    height: 100%;
  }
}

@media (max-width: 885px) {
}
