.projects {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 250px;
  height: 200px;
  border: 1px solid gold;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.project img {
  max-width: 100px;
}
